$col : #222327
* 
	margin: 0
	padding: 0
	box-sizing: border-box
body
	background: $col
	scroll-behavior: smooth
	h1
		padding-top: 70px
		color: white
		font: 4rem sans-serif
		margin-bottom: 1em
.nav
	position: fixed
	display: flex			
	justify-content: flex-end
	align-items: center
	width: 100vw
	background: #fff
	.navigation
		position: relative
		width: 400px
		height: 70px
		background: #fff
		display: flex
		justify-content: center
		align-items: center
		border-radius: 10px
		z-index: 999
		ul 
			display: flex
			width: 350px
			li 
				position: relative
				list-style: none
				width: 70px
				height: 70px
				z-index: 3
				&.active
					a 
						.icon
							transform: translateY(35px)
						.text
							opacity: 1
							transform: translateY(-10px)
				a 
					position: relative
					display: flex
					justify-content: center
					align-items: center
					flex-direction: column
					width: 100%
					text-align: center
					font-weight: 600
					z-index: 9999
					cursor: pointer
					.icon
						position: relative
						display: block
						line-height: 75px
						font-size: 1.5em
						text-align: center
						transition: 0.5s
						color: $col
					.text
						position: absolute
						color: $col
						font-weight: 600
						font-size: .75rem	
						letter-spacing: .05em
						transform: translateY(-20px)
						opacity: 0
						transition: .5s
.indicator
	position: absolute
	top: 50%
	width: 70px
	height: 70px
	background: #29fd53
	border-radius: 50%
	border: 6px solid $col
	transition: .5s
	z-index: 2
	&::before, &::after
		content: ''
		position: absolute
		bottom: 50%
		width: 20px
		height: 20px
		background: transparent
		box-shadow: 0px 10px 0 0 $col
	&::before
		left: -22px
		border-bottom-right-radius: 20px
	&::after
		right: -22px
		border-bottom-left-radius: 20px

.navigation ul li:nth-child(1).active ~ .indicator
	transform: translateX(calc(70px * 0)) 
.navigation ul li:nth-child(2).active ~ .indicator
	transform: translateX(calc(70px * 1)) 
.navigation ul li:nth-child(3).active ~ .indicator
	transform: translateX(calc(70px * 2)) 
.navigation ul li:nth-child(4).active ~ .indicator
	transform: translateX(calc(70px * 3)) 
.navigation ul li:nth-child(5).active ~ .indicator
	transform: translateX(calc(70px * 4)) 

#profile
	height: 120vh
#message
	height: 120vh
#photos
	height: 120vh